#delete-layer {
    display: flex;
    width: 100%;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    .list-content { 
        width: 45%;
        margin: 10px;
        .MuiAutocomplete-root {
            width: 100% !important;
            background-color: #ffffff8f;
            border-radius: 5px;
        }
    }

    #selected-description {
        width: 300px;
        max-width: 300px;
        height: -moz-fit-content;
        height: fit-content;    
        max-height: 80px;
        overflow-y: auto;
        font-size: 16px;
        margin: 10px;
        border-radius: 5px;
        min-height: 30px;
        padding: 5px;
        background-color: #ffffff8f;
        color: black;
    }
}