.player-state {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 70%;
    background-color: rgba(210, 154, 243, 0.541);
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    &.active {
        background-color: rgba(188, 255, 125, 0.534);
        border: 1px solid;
    }
    .player-name {
        font-size: 15px;
    }
    .player-cardWins {
        font-size: 15px;
    }
    .player-score {
        font-size: 10px;
    }
}