#add-layer {
    display: flex;
    width: 100%;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    .list-content { 
        width: 40%;
        margin: 10px;
        .MuiAutocomplete-root {
            width: 300px;
            background-color: #ffffff8f;
            border-radius: 5px;
        }
    }

    .description-text-area {
        width: 55%;
        margin: 10px;
        background-color: #ffffff8f;
        border-radius: 5px;
    }
}